<div class="w-full p-4 sm:p-12.5 xl:p-17.5">
  <h2 class="mb-9 text-2xl font-bold text-black sm:text-title-xl2">
    Création du compte
  </h2>
  <span class="mb-1.5 block font-medium text-center text-2xl"
    >Informations Personnelles</span
  >

  <form [formGroup]="personalForm" (ngSubmit)="save()">
    <div class="mb-4">
      <label class="">Nom</label>
      <div class="relative">
        <input
          type="text"
          placeholder="Entrer votre nom complet"
          class="form-input"
          formControlName="name"
          [ngClass]="{
            input_errors: name?.errors && name?.touched
          }"
        />

        <span class="absolute right-4 top-4">
          <svg
            class="fill-current"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M11.0008 9.52185C13.5445 9.52185 15.607 7.5281 15.607 5.0531C15.607 2.5781 13.5445 0.584351 11.0008 0.584351C8.45703 0.584351 6.39453 2.5781 6.39453 5.0531C6.39453 7.5281 8.45703 9.52185 11.0008 9.52185ZM11.0008 2.1656C12.6852 2.1656 14.0602 3.47185 14.0602 5.08748C14.0602 6.7031 12.6852 8.00935 11.0008 8.00935C9.31641 8.00935 7.94141 6.7031 7.94141 5.08748C7.94141 3.47185 9.31641 2.1656 11.0008 2.1656Z"
                fill=""
              />
              <path
                d="M13.2352 11.0687H8.76641C5.08828 11.0687 2.09766 14.0937 2.09766 17.7719V20.625C2.09766 21.0375 2.44141 21.4156 2.88828 21.4156C3.33516 21.4156 3.67891 21.0719 3.67891 20.625V17.7719C3.67891 14.9531 5.98203 12.6156 8.83516 12.6156H13.2695C16.0883 12.6156 18.4258 14.9187 18.4258 17.7719V20.625C18.4258 21.0375 18.7695 21.4156 19.2164 21.4156C19.6633 21.4156 20.007 21.0719 20.007 20.625V17.7719C19.9039 14.0937 16.9133 11.0687 13.2352 11.0687Z"
                fill=""
              />
            </g>
          </svg>
        </span>
        @if(name?.errors && name?.touched){
        <div>
          @if(name?.errors?.['required']){
          <p class="text-red-600">le nom est obligatoire</p>
          }
        </div>

        }
      </div>
    </div>

    <div class="mb-4">
      <label class="">Email</label>
      <div class="relative">
        <input
          type="email"
          placeholder="Entrer votre email"
          class="form-input"
          formControlName="email"
          [ngClass]="{
            input_errors: email?.errors && email?.touched
          }"
        />

        <span class="absolute right-4 top-4">
          <svg
            class="fill-current"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M19.2516 3.30005H2.75156C1.58281 3.30005 0.585938 4.26255 0.585938 5.46567V16.6032C0.585938 17.7719 1.54844 18.7688 2.75156 18.7688H19.2516C20.4203 18.7688 21.4172 17.8063 21.4172 16.6032V5.4313C21.4172 4.26255 20.4203 3.30005 19.2516 3.30005ZM19.2516 4.84692C19.2859 4.84692 19.3203 4.84692 19.3547 4.84692L11.0016 10.2094L2.64844 4.84692C2.68281 4.84692 2.71719 4.84692 2.75156 4.84692H19.2516ZM19.2516 17.1532H2.75156C2.40781 17.1532 2.13281 16.8782 2.13281 16.5344V6.35942L10.1766 11.5157C10.4172 11.6875 10.6922 11.7563 10.9672 11.7563C11.2422 11.7563 11.5172 11.6875 11.7578 11.5157L19.8016 6.35942V16.5688C19.8703 16.9125 19.5953 17.1532 19.2516 17.1532Z"
                fill=""
              />
            </g>
          </svg>
        </span>
        @if(email?.errors && email?.touched){
        <div>
          @if(email?.errors?.['required']){
          <p class="text-red-600">l'email est obligatoire</p>
          } @if(email?.errors?.['email']){
          <p class="text-red-600">un email est requis</p>
          }
        </div>

        }
      </div>
    </div>

    <div class="mb-4">
      <label class="">Téléphone</label>
      <div class="relative">
        <input
          type="number"
          placeholder="Entrer votre numero de téléphone"
          class="form-input"
          formControlName="phone"
          [ngClass]="{
            input_errors: phone?.errors && phone?.touched
          }"
        />

        <span class="absolute right-4 top-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            />
          </svg>
        </span>
        @if(phone?.errors && phone?.touched){
        <div>
          @if(phone?.errors?.['required']){
          <p class="text-red-600">le numero de téléphone est requis</p>
          }
        </div>

        }
      </div>
    </div>

    <div class="mb-5 flex justify-center">
      <button [disabled]="personalForm.invalid" class="btn-primary">
        <span>Suivant</span>
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-3 mt-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
    </div>

    <div class="mt-6 text-center flex-row">
      <p class="font-medium">
        Vous avez un compte ?
        <a href="#" class="text-primary">Connectez vous</a>
      </p>
    </div>
  </form>
</div>
